---
import BaseLayout from "../../layouts/BaseLayout.astro";
import SpeakerTag from "../../components/SpeakerTag.astro";
import fetchApi from "../../lib/strapi";

export async function getStaticPaths() {
  const tags = await fetchApi({
    endpoint: "tags",
    wrappedByKey: "data",
    query: {
     populate: ["speakers", "speakers.location"],
    
  },
 
  });


  const paths = tags.map((tagSpeech, i) => ({
    params: { id: tagSpeech.attributes.tag.toString() },
    props: {
     tagSpeech,
    },
    
  }));

  return paths;
}

const { tagSpeech } = Astro.props;
---

<BaseLayout>
   <h2>Speakers with <span>{tagSpeech.attributes.tag}</span> tag</h2>

   <SpeakerTag tagSpeech={tagSpeech} />
     
</BaseLayout>