---
import BaseLayout from "../layouts/BaseLayout.astro";
import ScheduleList from "../components/ScheduleList.astro";
const pageTitle = "Agenda";
import fetchApi from "../lib/strapi";
const speakers = await fetchApi({
  endpoint: "speakers",
  wrappedByKey: "data",
  query: {
    populate: ["photo", "location", "tags", "day", "speech_type"],
  },
});
---

<style>
  .days__wrapper {
    display: grid;
    grid-template-columns: 15% 1fr 15%;
  }
  .agenda-intro__wrapper {
    margin: var(--space-xl) auto var(--space-m) auto;
    display: flex;
    width: 80vw;
    align-items: center;
    flex-direction: column;
    color: var(--text-color);
  }
  .agenda-intro__heading {
    font-size: var(--step-5);
    padding-bottom: var(--space-m);
  }

  .agenda-intro__description {
    width: 70%;
    text-align: center;
    line-height: 1.4;
    padding-bottom: var(--space-m);
    font-size: var(--step-0);
  }
  .buttons-speakers__wrapper {
    display: flex;
    gap: var(--space-m);
  }

  @media screen and (max-width: 1024px) {
    .days__wrapper {
      display: grid;
      grid-template-columns: 10% 1fr 10%;
    }
  }
  @media screen and (max-width: 768px) {
    .days__wrapper {
      display: grid;
      grid-template-columns: 5% 1fr 5%;
    }
    .buttons-speakers__wrapper {
      display: flex;
      flex-direction: column;
      gap: var(--space-s);
    }
    .agenda-intro__description {
      width: 90%;
    }
  }
</style>

<BaseLayout pageTitle={pageTitle}>
  <div class="agenda-intro__wrapper">
    <h2 class="agenda-intro__heading">Schedule</h2>
    <p class="agenda-intro__description">
      Dive into our schedule to discover a diverse array of sessions led by
      world-renowned speakers, engaging workshops, and captivating live
      demonstrations. Each activity is designed to deepen your understanding of
      auras and enhance your spiritual wellness. Embrace this unique experience
      and let your journey of self-discovery and spiritual growth begin.
    </p>
    <div class="buttons-speakers__wrapper">
      <button class="button button__copenhagen--agenda button__active"
        >Copenhagen</button
      >
      <button class="button button__oslo--agenda">Oslo</button>
    </div>
  </div>
  <div class="days__wrapper">
    <ScheduleList speakers={speakers} />
  </div>
</BaseLayout>
