---
import BaseLayout from '../layouts/BaseLayout.astro';
import fetchApi from '../lib/strapi';
const pageTitle = "Home Page";
const speakers = await fetchApi({
  endpoint: "speakers",
  wrappedByKey: "data",
 query: {
    populate: ["location"],
    
  },
});


console.log(speakers[0].attributes.location.data.attributes.name)

---
<BaseLayout pageTitle={pageTitle}>


<!-- <ul>
  {restaurants.map((product) => (
    <li> 
      {product.attributes.name}
      {product.attributes.description[0].children[0].text}
     Category:
      {product.attributes.categories.data.map((category) => (
        <span> -{category.attributes.name}</span>
      ))}
    </li>
  ))}
</ul> -->
</BaseLayout>
