---
import BaseLayout from '../layouts/BaseLayout.astro';
import LineUpSpeakers from '../components/LineUpSpeakers.astro';
import Filter from '../components/Filter.astro';
const pageTitle = "Line up";
import fetchApi from '../lib/strapi';
const speakers = await fetchApi({
  endpoint: "speakers",
  wrappedByKey: "data",
   query: {
    populate: ["photo","location", "tags","day", "speech_type"],
    
  },


});


---

<style>
  .section__line-up{
    display: grid;
    grid-template-columns: 10% 1fr 10%;
  }
</style>
<BaseLayout pageTitle={pageTitle}>

<section class="section__line-up">
  <h2 class="heading__line-up">Line up!</h2>
  <Filter speakers={speakers} />
<LineUpSpeakers speakers={speakers} />
</section>
  
</BaseLayout>