---

import Navigation from '../components/Navigation.astro';

import '../styles/reset.css';
import '../styles/global.css';
const { pageTitle } = Astro.props;

---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <meta name="viewport" content="width=device-width" />
    <title>{pageTitle}</title>
  </head>
  <body>
        <Navigation />
   
    <h1 class="visually-hidden">{pageTitle}</h1>

     <slot />
         <script>
    import "../scripts/menu.js";
      import "../scripts/buttonSpeakers.js";
  </script>
  </body>
</html>