---

---

<style>
  .footer {
    background-color: #ff9776;
    color: white;
    

  }
  .footer-contact {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    text-align: center;
    padding: var(--space-xl) var(--space-s);
     gap: var(--space-xs);
  
  }
  .contact-list {
    display: flex;
    flex-direction: column;
    justify-self: start;
         gap: var(--space-2xs);
   
  }
   .contact-list a{
    text-decoration: none;
    color: var(  --light-whit);
   }
</style>

<footer class="footer">
  <div class="footer-contact">
    <h3>Contact Us</h3>
    <ul class="contact-list">
      <li class="contact-item">
        <strong>Phone:</strong>
        <a href="tel:+123456789">+1 234 567 89</a>
      </li>
      <li class="contact-item">
        <strong>Email:</strong>
        <a href="mailto:contact@example.com">coloraura@mail.com</a>
      </li>
      <li class="contact-item">
        <strong>Address:</strong> 42 Hyggevej, 2100 Copenhagen, Denmark
      </li>
    </ul>
  </div>
</footer>
