
---
import Hamburger from '../components/Hamburger.astro';
---

<style>

</style>

<div class="navigation-wrapper">
    
<img class="logo" src="././assets/logo.png" alt="logo">
<nav class="nav-links">
  <a href="/">Home</a>
  <a href="/about">About</a>
  <a href="/line-up">Line-up</a>
  <a href="/agenda">Agenda</a>
  <a href="/locations">Locations</a>
    <a href="/faq">FAQ</a>
    <a href="/faq">Buy tickets</a>
</nav>
  <Hamburger />
</div>
